html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Outfit', sans-serif;
  font-size: 15px;
}

* {
  box-sizing: border-box;
}

.qrRaisedWideBox {
	min-height: 100%;
  padding: 85px 30px;
  background-color: hsl(212, 45%, 89%);
}

.qrNarrowBox {
  padding: 15px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
}

.qrImage {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.qrDescription {
	font-size: 20px;
	text-align: center;
}

.qrDescription p{
	font-size: 16px;
	opacity: .6;
}
